<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <link rel="icon" href="data:,">
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
  <h1>Prediction of Churn from the Bank</h1>
 
  <img src = "https://github.com/berkarcan/Heroku-Churn-Ensembled-Model/blob/master/templates/image1.jpg", alt = ""> 

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <input type="text" name="CreditScore" placeholder="Credit Score(max 850)" required="required" />
        <input type="text" name="Geography" placeholder="Geography (Germany, France or Spain)" required="required" />
    <input type="text" name="Gender" placeholder="Gender(Male or Female)" required="required" />
    <input type="text" name="Age" placeholder="Age(e.g., 20)" required="required" />
        <input type="text" name="Tenure" placeholder="Tenure(Membership years)" required="required" />
    <input type="text" name="Balance" placeholder="Balance(e.g., 20000)" required="required" />
    <input type="text" name="NumOfProducts" placeholder="Num Of Products(e.g., 2)" required="required" />
        <input type="text" name="HasCrCard" placeholder="Has Credit Card(1=Yes, 0=No)" required="required" />
    <input type="text" name="IsActiveMember" placeholder="Is Active Member?(1=Yes, 0=No)" required="required" />
    <input type="text" name="EstimatedSalary" placeholder="Estimated Salary(e.g., 25000)" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ predicted_value }}

 </div>


</body>
</html>
