<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <link rel="icon" href="data:,">
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
  <h1>Churn Prediction Analysis</h1>
 
  <img src = "image1.jpg", alt = "" /> 

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <input type="text" name="CreditScore" placeholder="Credit Score(eg: 632)" required="required" />
        <input type="text" name="Geography" placeholder="Geography (Germany, France, Spain)" required="required" />
    <input type="text" name="Gender" placeholder="Gender(Male, Female)" required="required" />
    <input type="text" name="Age" placeholder="Age(eg: 25)" required="required" />
        <input type="text" name="Tenure" placeholder="Tenure(Time since member)" required="required" />
    <input type="text" name="Balance" placeholder="Balance(eg: 500000)" required="required" />
    <input type="text" name="NumOfProducts" placeholder="Num Of Products(eg: 2)" required="required" />
        <input type="text" name="HasCrCard" placeholder="Has Credit Card('1'=Yes, '0'=No)" required="required" />
    <input type="text" name="IsActiveMember" placeholder="Is Active Member?('1'=Yes, '0'=No)" required="required" />
    <input type="text" name="EstimatedSalary" placeholder="Estimated Salary(eg: 25000)" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ predicted_value }}

 </div>


</body>
</html>
